<head>
    <title>Spur to Action</title>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"
            integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
            crossorigin="anonymous"></script>
</head>
<body>
    <p><img src="https://github.com/mailbackwards/texasturnout/raw/master/static/s2a_logo.png" /></p>
    <p>
        <button type="button" onclick="sendMessage('prop1');">Send Prop 1 message</button>
        <button type="button" onclick="sendMessage('prop1-snack');">Send Prop1 snack</button>
        <button type="button" onclick="sendMessage('prop1-prevote');">Send Prop1 Prevote message</button>
    </p>
    <p>
        <button type="button" onclick="sendMessage('prek');">Send Pre-K message</button>
        <button type="button" onclick="sendMessage('prek-prevote');">Send Pre-K Prevote message</button>
    </p>
    <p>
        <input type="text" placeholder="Message" id="message" />
        <button type="button" onclick="sendCustomMessage();">Send custom message</button>
    </p>
    <p id="success-placeholder"></p>
    <script>
        function sendMessage(type) {
            $.post('/send', {'type': type}, function(data) {
                $('#success-placeholder').text('Success!');
            }, 'json')
        }
        function sendCustomMessage() {
            var msg = $('#message').val()
            $.post('/send', {'message': msg}, function(data) {
                $('#success-placeholder').text('Success!');
            }, 'json')
        }
    </script>
</body>
